/* App.js */
.mainContain {
  /* background-image: url("/images/goat.png"); */
}

/* MainForm.js */
.formContain {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.formWrap {
  margin: 15%;
}

.formLabel1 {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
}
