/* App.js */
.mainContain {
  /* background-image: url("/images/goat.png"); */
}

/* MainForm.js */
.formContain {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.headerText {
  font-size: 5vh;
  text-align: center;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 44%) 0px 26px 30px -1px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.headerText:hover {
  cursor: pointer;
}

.formWrap {
  margin: 15%;
}

.formLabel1 {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
}

.inputTitles {
  color: white;
  width: 100%;
  align-items: center;
}

.inGroup {
  text-align: center;
}
