/* App.js */
.mainContain {
  /* background-image: url("/images/goat.png"); */
}

/* MainForm.js */
.mainContain {
  display: flex;
  justify-content: center;
}

.formWrap {
}

.formLabel1 {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
}
